<a href="https://colab.research.google.com/github/rooftopmunda/iNeuron-assignments/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What exactly is ''[ ]''?

In Python "[ ]" is an empty list. An empty list is a list that contains no elements, and it is represented by square brackets with nothing inside them.

#2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

You can assign the value 'hello' as the third value in the list stored in the variable 'spam' as:

In [71]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'

print(spam)

[2, 4, 'hello', 8, 10]

#Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.
#3. What is the value of spam[int(int('3' * 2) / 11)]?

The value of spam[int(int('3' * 2) / 11)] is 'd'. This is because '3' * 2 is '33', which when converted to an integer and divided by 11 gives 3. The third index in the list ['a', 'b', 'c', 'd'] is 'd'.

In [72]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3' * 2) / 11)]

'd'

#4. What is the value of spam[-1]?

The value of spam[-1] is 'd'. In Python, -1 refers to the last index in a list.

In [73]:
print(spam[-1])

d

# 5. What is the value of spam[:2]?

The value of spam[:2] is ['a', 'b']. The slice [:2] gets the items from the start of the list up to but not including the index 2.

In [74]:
print(spam[:2])

['a', 'b']

#Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.
#6. What is the value of bacon.index('cat')?

The value of bacon.index('cat') is 1. The index() method returns the first index at which a given element appears in the list.

In [75]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

for i in enumerate(bacon):
  print(i)

(0, 3.14)
(1, 'cat')
(2, 11)
(3, 'cat')
(4, True)

#7. How does bacon.append(99) change the look of the list value in bacon?

bacon.append(99) adds the integer 99 to the end of the list, making it [3.14, 'cat', 11, 'cat', True, 99].

In [76]:
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

#8. How does bacon.remove('cat') change the look of the list in bacon?

bacon.remove('cat') removes the first occurrence of 'cat' from the list, making it [3.14, 11, 'cat', True].

In [77]:
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True, 99]

#9. What are the list concatenation and list replication operators?

The list concatenation operator is +, and the list replication operator is *. Concatenation combines two lists while replication repeats a list a specified number of times.

In [78]:
a = [1,2,3]
b = [4,5,6]
c = a+b
print(c)

d = (a + b) * 2 #Concatenated and then replicated
print(d)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#10. What is difference between the list methods append() and insert()?

The append() method adds an element to the end of a list, while the insert() method can add an element at any position in the list.

In [79]:
list1 = [5,4,8,5]
list1.append(999)
print(list1)

list1.insert(0,888)
print(list1)

[5, 4, 8, 5, 999]
[888, 5, 4, 8, 5, 999]

#11. What are the two methods for removing items from a list?

The two methods for removing items from a list are remove(), which removes the first occurrence of a specified value, and pop(), which removes the item at a specified position.

In [80]:
list1 = [5,4,8,5]
list1.remove(5)
print(list1)

list1.pop(-1)
print(list1)

[4, 8, 5]
[4, 8]

#12. Describe how list values and string values are identical.

List values and string values are identical in the following way:
* they can both be indexed
* sliced
* used in for loops
* be concatenated
* be replicated
* and be used with the in and not in operators.

#13. What's the difference between tuples and lists?

The difference between tuples and lists is that tuples are immutable (they cannot be changed), while lists are mutable (they can be changed).

#14. How do you type a tuple value that only contains the integer 42?

A tuple value that only contains the integer 42 can be typed as (42,). The trailing comma is necessary to distinguish it as a tuple.

In [81]:
tuple_ = (42,)

#15. How do you get a list value's tuple form? How do you get a tuple value's list form?

You can get a list value's tuple form using the tuple() function, and a tuple value's list form using the list() function.

In [82]:
a = list()
b = tuple()

#16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Variables that contain list values actually contain references to list values. When you assign a list to a variable, the variable points to the memory location where the list is stored, rather than holding the actual list data.

In [83]:
x = [1, 2, 3]
y = x

x.append(999)
print(y) #Variable y is also changed

[1, 2, 3, 999]

#17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy() creates a shallow copy of any iterable object. It means, that the memory location of the original object and the copied object are the same, so anyb changes made in the copied object, also reflects in the original object.

In [100]:
#Shallow Copy
import copy
original_list = [[1,2,3],[4,5,6],7]
copied_list = copy.copy(original_list) #Shallow Copy

In [101]:
copied_list[0][1] = 'abc'

In [103]:
original_list #Since the memory location is same, the changes made in the copied list reflects in the original list as well.

[[1, 'abc', 3], [4, 5, 6], 7]

In deepcopy, an entire copy of the list is created but with a new memory location. It means, any changes made in the copied object, won't reflect in the original object.

In [104]:
# Deep Copy
import copy
og_d_list = [[88,55,66,4],[22,55,77,45], 999]
copied_d_list = copy.deepcopy(og_d_list)

In [105]:
copied_d_list[0][1] = 'India'

In [107]:
og_d_list #Since the memory location of the new object(copied_d_list) is not the same or linked with the original object, any changes made will not reflect in the original object.

[[88, 55, 66, 4], [22, 55, 77, 45], 999]